<div class="container">
  <div class="row mt-2">
    <div class="col-md-9">
      <h2> Customer Details List</h2>
    </div>
    <!-- redirect add customer details form -->
    <div class="col-md-3 ">
      <button class="btn-success btn-lg " type="button" (click)="onAddCustomer()">Add Customer Details</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Display onwer Details -->
    
    <table class="table border m-1">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Owner Id</th>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Profile</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- fetch customer details -->
        <tr *ngFor="let customer of customer.result;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{customer.id}}</td>
          <td>{{customer.owner_id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.profile_pic}}</td>
          <!--for delete customer detail -->
          <td><a class="btn btn-success btn-sm" (click)="onEditCustomer(customer.id)" role="button">Edit</a></td>
          <td><a class="btn btn-danger btn-sm" (click)="onDeleteCustomer(customer.id)" role="button">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>