
<div class="container">
    <div class="row mt-2">
      <div class="col-md-9">
        <h2> Owner Details List</h2>
      </div>
      <!-- redirect add owner details form -->
      <div class="col-md-3 ">
        <button class="btn-success btn-lg " type="button" (click)="onAddOwner()" >Add Owner Details</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <!-- Display onwer Details -->
      <table class="table">
  
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Shop Name</th>
            <th scope="col">Logo</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- fetch owner details -->
          <tr *ngFor="let owner of owner.result;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{owner.id}}</td>
            <td>{{owner.name}}</td>
            <td>{{owner.last_name}}</td>
            <td>{{owner.phone}}</td>
            <td>{{owner.shop_name}}</td>
            <td>{{owner.logo}}</td>
            <td>{{owner.address}}</td>
            <!-- for delete owner detail -->
            <td><a class="btn btn-danger btn-sm" (click)="onDeleteOwner(owner.id)" role="button">Delete</a></td>
          </tr>
        </tbody>
      </table>
  </div>  
  </div>
  
  