<div class="container">
    <div class="row mt-1">
      <div class="col-md-9">
        <h3>Owner Detail</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <!-- for owner details -->
          <form [formGroup]="ownerDetail" (ngSubmit)="onEditDetail()">
            <div class="row">
              <!-- input for owner name -->
              <div class="form-group">
                <label>Enter Name:</label>
                <input class="form-control" type="text" placeholder="enter name" formControlName="name">
                <!-- validation for owner name -->
                <small *ngIf="!ownerDetail.get('name').valid && ownerDetail.get('name').touched"
                  class="text-danger">Please enter owner name</small>
              </div>
              <!-- input for owner last name -->
              <div class="form-group">
                <label>Enter Last Name:</label>
                <input class="form-control" type="text" placeholder="enter last name" formControlName="last_name">
                <!-- validation for last name -->
                <small *ngIf="!ownerDetail.get('last_name').valid && ownerDetail.get('last_name').touched"
                  class="text-danger">Please enter owner last name</small>
              </div>
              <!-- input for owner phone no. -->
              <div class="form-group">
                <label>Enter Phone No:</label>
                <input class="form-control" type="text" placeholder="enter phone no" formControlName="phone">
                <!-- validation for phone no. -->
                <small *ngIf="!ownerDetail.get('phone').valid && ownerDetail.get('phone').touched"
                  class="text-danger">Please enter owner phone no</small>
              </div>
              <!-- input for owner shop name -->
              <div class="form-group">
                <label>Enter Shop Name:</label>
                <input class="form-control" type="text" placeholder="enter shop name" formControlName="shop_name">
                <!-- validation for owner shop name -->
                <small *ngIf="!ownerDetail.get('shop_name').valid && ownerDetail.get('shop_name').touched"
                  class="text-danger">Please enter owner shop name</small>
              </div>
              <!-- input for owner shop logo -->
              <div class="form-group">
                <label>Enter Logo:</label>
                <input class="form-control" type="file" accept=".png,.jpg" (change)="onImageSelected($event)" formControlName="logo">
                <!-- validation for owner logo -->
                <small *ngIf="!ownerDetail.get('logo').valid && ownerDetail.get('logo').touched"
                  class="text-danger">Please enter owner shop logo</small>
              </div>
              <!-- input for owner address -->
              <div class="form-group">
                <label>Enter Address:</label>
                <input class="form-control" type="text" placeholder="enter address" formControlName="address">
                <!-- validation for owner address -->
                <small *ngIf="!ownerDetail.get('address').valid && ownerDetail.get('address').touched"
                  class="text-danger">Please enter owner shop address</small>
              </div>
             
              <!-- button will be clicked owner information updated -->
              <div class="form-group">
                <button class="btn btn-primary mt-2 m-1" type="submit" [disabled]="!ownerDetail.valid">Update Onwer
                  Information</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

