<div class="card bg-light border-light card-design">
    <div class="card-body">
      <!-- For User login form -->
      <h2 class="text-center">Login Form</h2>
      <form [formGroup]='loginForm' (ngSubmit)="login()">
     
        <div class="row">
          <div class="col-md-12">
            <!-- enter value for user email -->
            <div class="form-group">
              <label>Enter Email:</label>
              <input type="text" class="form-control" formControlName="email"
               placeholder="enter email">
               <!-- validation for user email -->
              <small *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="text-danger">Please enter valid email</small>
            </div>
          </div>
          <div class="col-md-12">
            <!-- enter value for user password -->
            <div class="form-group">
              <label>Enter Password:</label>
              <input type="password" class="form-control" formControlName="password"
               placeholder="enter password">
               <!-- validation for user password -->
              <small *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="text-danger">Please enter valid password</small>
            </div>
            <div class="form-group mt-2 ">
              <!--  user can login -->
              <button [disabled]="!loginForm.valid"  type="submit" class="btn btn-primary btn-sm w-100">Sign In</button>
            </div>
          </div>
          
        </div>
      </form>
    </div>
  </div>
  